body{
    margin-left: 50px;
    
}

.form-control{
    margin: 10px;
    width: 400px;
}

.enter{
    margin: 10px;
}

.header{
    margin-top: 20px;
}

.progress-div{
    width: 500px;
    margin: 10px;
    height: 40px;
}
.list-group{
    margin-top: 20px;
    width: 600px;
    max-height: 400px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
